:root {
    --orange: #FB9927;
    --beige: #FCF9DA;
    --black: #181715;
    --red: #D35925;
    --green: #90B641;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    line-height: 1.6em;
    font-family: 'Catamaran', sans-serif;
}

a {
    text-decoration: none;
}

input, textarea {
    outline: none;
}

.main {
    margin-top: 70px;
    margin-bottom: 70px;
}

.button {
    all: unset;
    padding: 7px 60px;
    background-color: var(--orange);
    color: var(--beige);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background-color: var(--beige);
    color: var(--orange);
}